
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Public/tem/styles/main_styles.css">
<hr />
<h2 style="margin:100px">Error404</h2>

